<div>
    <label>NEUF VIES</label>
    <input type="checkbox" name="data.life.one" {{checked actor.data.life.one}}>
    <input type="checkbox" name="data.life.two" {{checked actor.data.life.two}}>
    <input type="checkbox" name="data.life.three" {{checked actor.data.life.three}}>
    <input type="checkbox" name="data.life.four" {{checked actor.data.life.four}}>
    <input type="checkbox" name="data.life.five" {{checked actor.data.life.five}}>
    <input type="checkbox" name="data.life.six" {{checked actor.data.life.six}}>
    <input type="checkbox" name="data.life.seven" {{checked actor.data.life.seven}}>
    <input type="checkbox" name="data.life.eight" {{checked actor.data.life.eight}}>
    <input type="checkbox" name="data.life.nine" {{checked actor.data.life.nine}}>
</div>